
  #Table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  #Table td, #Table th {
    text-align: right;
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #Table tr:nth-child(even){background-color: #f2f2f2;     text-align: right;
  }
  
  #Table tr:hover {background-color: #ddd;     text-align: right;
  }
  
  #Table th {
    text-align: right;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4c5250;
    color: white;
  }



.input{
  margin: 50px;
}
.text{
  margin-left: 30px;
}

.Add{
  text-align: right;
  margin: 10%;
  /* border: 1px solid red; */
  margin-left: 30%;
  padding: 5vw ;
  position:relative; 
  text-align: center;
  /* position:relative for .prevBtn and .nextBtn position:absolute; */
  text-align: right;
  width: 40%;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  padding:10px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  justify-content: center;
}


.Add input{
  text-align: right;
    width: 50%;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    padding:10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    justify-content: center;
   align-items: center;
   right: 40%;
}

.button{
  display: block;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  margin: 50px 0 2vh 0;
  min-width: 30%;
  text-align: center;
}