#Table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  #Table td{
    text-align: right;
    border: 1px solid #ddd;
  } 
  #Table th {
    text-align: right;
    border: 1px solid #ddd;
  }
  
  #Table tr:nth-child(even){background-color: #f2f2f2;     text-align: right;
  }
  
  #Table tr:hover {background-color: #ddd;     text-align: right;
  }
  
  #Table th {
    text-align: right;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4c5250;
    color: white;
  }
  
  
  
  .input{
  margin: 50px;
  }
  .Add text{
  margin-left: 30px;
  }
  
  .Add{
  text-align: right;
  margin: 5%;
  margin-left: 30%;
  text-align: right;
  width: 40%;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  padding:10px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  }
  
  .Add select{
  text-align: right;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  padding:10px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  right: 40%;
  }
  .Add input{
  text-align: right;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    padding:10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  }
  .Add textarea{
  text-align: right;
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  padding:10px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  justify-content: center;
  align-items: center;
  right: 40%;
  }
  
  .Add select{
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  padding:10px;
  width: 30%;
  text-align: right;
  }
  
  .Add button{
  font-size: 18px;
  font-weight: bold;
  margin: 50px 0 2vh 0;
  text-align: center;
  background-color: #343741;
  color: #ddd;
    width: 80%;
    margin-right: 10%;
  
    border-radius: 4px;
    box-sizing: border-box;
    padding: 5px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    justify-content: center;
   align-items: center;
  
  
  }