
.board{
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    background-color: white ;
    float: right;
    margin: 10px;
    width: 30%;
    text-align: center;
    box-shadow: 0 0 15px 4px rgb(232, 248, 251);
}
.room{
    width: 100%;
    min-height: max-content;


}
.cardHead{
  border-bottom: 2px white solid;   
  padding-top: 10px;
  background-color: rgb(176, 238, 249);;

}
.homeles {
    font-size:large;
    height : 50px;
}
.homelesLink{
margin-top: auto;
margin-bottom: auto;
display: block;
padding-top: 20px;

}
