input[type="file"] {
    font-size: 1px;
    text-align: left;
    display: none;

}

.nav-item1 {
    border-radius: 0;
    font-size: 1.5vw;
    width: 100%;
}
/* .arrow-right {
    width: 0%; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid rgb(247, 116, 9);
    display: inline;
    float: left;
    padding-top: 2px;
  }
  .arrow-down {
   
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-top: 60px solid rgb(247, 116, 9);
    display: inline;
    float: left;
   
  } */
.navbar-nav1 {
    background-color: black;
    color: blue;
}

.nav-item.collasible-nav-dropdown.active {
    background-color: white;
    color: black;
    border: 2px solid #dddddd;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);

}

.nav-pills .nav-item:not(:nth-last-child(1)).collasible-nav-dropdown {
    border-right: 1px solid white;
}


.container-fluid {
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.877);
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    width: 55%;

}

#collasible-nav-dropdown1 {
    color: white;
    font-family: Georgia, serif;
    width: max-content;
}


.navbar li {
    justify-content: space-around;
}

.navbar-nav {
    text-align: center;
    flex-direction: column;
}

#files {
    display: none;
    right: 30%
}

.home {
    float: right;
    text-align: right;
    width: 100%;
    background-image: "b7.jpg";
}

.home .body1 {
    width: 100%;
    margin-left: 2cm;
}

.info {
    margin-top: 1cm;
    font-family: Georgia, serif;
}

.vl {
    position: relative;
    border-right: 6px solid rgb(247, 116, 9);
    border-radius: 5px;
    margin-right: 1.5cm;
    height: 100%;
}

i.bi2,
.bi1,
.bi3,
.bi4{
    display: inline-block;
    margin-left: 0.5em;
    color: rgb(247, 116, 9);
}

i.bi5,
i.b6{
    display: inline-block;
    margin-left: 0.5em;
}

.fa-1 {
    display: inline-block;
    color: rgb(247, 116, 9);
    
}


.bi-cloud-upload {

    font-size: 14px;
    margin-left: 3%;
}

.deleteBtn{
    position: sticky;
    border-radius: 12px;
    transition-duration: 0.4s;
    background-color: rgb(247, 116, 9);
    color: white;
    border: 2px solid rgb(247, 116, 9);
}

.btn5{
    width:auto;
    height: auto;
    margin-right: 0.2em;
    font-size: 1.8rem;
    position: sticky;
    border-radius: 12px;
    transition-duration: 0.4s;
    background-color: white;
    color: white;
    border: 2px solid white;
}

.btn,
.me-0,
.me-1,
.btn2 {
    width: max-content;
    position: sticky;
    border-radius: 12px;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid rgb(247, 116, 9);

}


.btn {

    width: 26%;
    margin-right: 17%;

}
.btn2{
    width: 100%;
    direction: rtl;
}

.cli {
    width: 100%;
    display: inline;
    margin-right: 17%; 
    
}
.cli1{
    padding-top: 5px;
    padding-right: 1px;
}

.me-0 {
    width: 13%;
  
}

.me-1 {
    width: 13%;
    right: 5em;

}

.me-0,
.me-1 {

    display: inline;
}

/* Darker background on mouse-over */
.me-0:hover,
.btn:hover,
.me-1:hover {
    background-color: rgb(247, 116, 9);
    color: white;
}

hr.new4 {
    position: relative;
    border-top: 1px solid black;
    height: 7px;
    border: 0 none;
    width: 25%;
    float: right;
    margin-right: 5%;
    background-color: rgb(247, 116, 9);
    color: rgb(247, 116, 9);
   bottom: 30%;

}

.clicks {
    margin: 20px 0;
    padding-bottom: 20px;
    height: 5cm;
    position: relative;
    margin-left: 30%;
    margin: 0 auto;
    display: inline;
    margin-bottom: 4%;
}

.subInfo {
    font-size: 50px;
    font-weight: bolder;
    margin-right: 0.5cm;
}

div.infoDeta {
    direction: rtl;
}

.infoDetails {
    font-size: 20px;
    margin-left: 1.4cm;
    float: right;
    margin-right: 1cm;
    font-weight: bold;
    height: max-content;
}

.tab_4 {
    position: absolute;
    width: 100%;
    float: right;
    margin-top: 2cm;
}
.dot {
    height: 70px;
    width: 70px;
    background-color: rgb(247, 116, 9);
    border-radius: 50%;
    display: inline;
    float: left;
  }
  .dot1{
    height: 100px;
    width: 100px;
    background-color: rgb(247, 116, 9);
    border-radius: 50%;
    display: inline;
    float: left;
  }

#demo {
    margin-top: 3%;
    background-color: rgb(240, 237, 233);
    border-radius: 5px;
    width: 70%;
    border: 1px solid rgba(0, 0, 0, 0.877);
    padding: 50px;
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    direction: rtl;
    font-size: 17px;
    font-weight:500;
}

ul {
    display: flex;
    
}
.dot {
    height: 70px;
    width: 70px;
    background-color: rgb(247, 116, 9);
    border-radius: 50%;
    display: inline;
    float: left;
  }
  .dot1 {
    height: 100px;
    width: 100px;
    background-color: rgb(247, 116, 9);
    border-radius: 50%;
    display: inline;
    float: left;
  }
