.table-t td , .table-t th{
    background-color: #343741;
    color: white;
    margin-right: 510px;
    border: none;
   
}


.table-t td ,.table-t tbody{
    background-color:#dddddd ;
    color: #343741;
   
  
}

.ser-design{
    background-color: #343741;  
color: white;  
font-size: 20px;  
margin: auto;  
}