.table-t td , .table-t th{
    background-color: #ddf7f3;
    margin-right: 510px;
   
}


.table-t td ,.table-t tbody{
    background-color:#935fa3 ;
    color: #ffff;
   
  
}

.ser-design{
    background-color: rgb(197, 236, 248);  
color: black;  
font-size: 20px;  
margin: auto;  
}